@import "./../../styles.scss";

.profile-picture {
    border-radius: 50%;
    width: 70%;
    height: 80%;
}
.profile {
    text-align: right !important;
    margin-left: 0;
    padding-right: 0;
}
.button {
    padding: 1% 2%;
    justify-content: flex-end;
}
.btn.btn-primary {
    padding: unset;
    margin-bottom: 10px;

}
.d-flex {
    justify-content: center;
}

