<div class="">
    <div class="row twitter-image">
        <div class="col-md-6 height-image">
            
        </div>
        <div class="col-md-6 heading">
            <img src="./../../assets/twitter logo.png" alt="Twitter logo">
            <h1><b>Happening now!</b></h1>
            <div><b>Join Twitter Today</b></div>
            <div class="row">
                <div class="col-sm-8"><button class="btn btn-primary" routerLink="/login">Login</button></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-8"><button class="btn signup" routerLink="/signup">Signup</button></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>