<div class="card-body" id="forgotPassword" aria-describedby="modal_title">
    <div><button type="button" class="close-button" (click)="closeModalButton()"><span>&times;</span></button></div>
    <h3 class="card-title text-center"><span class="font-stencil gray-color">Forgot Password</span></h3>
    <div *ngIf="status" class="font-green reset">Password Resetted</div>
    <form (ngSubmit)="submit()" [formGroup]="forgotPasswordForm">
        <label class="card-subtitle my-2 text-muted">User Id</label>
        <input type="text" class="form-control" formControlName="userId" id="userId" [class.error-box]="(forgotPasswordForm.get('userId').errors?.required && forgotPasswordForm.get('userId').touched) || !userStatus"/>
        <div *ngIf="forgotPasswordForm.get('userId').errors?.required && forgotPasswordForm.get('userId').touched" type="hidden"><small class="font-red">Please enter User Id</small></div>
        <small *ngIf="!(forgotPasswordForm.get('userId').errors?.required && forgotPasswordForm.get('userId').touched) && !userStatus" class="font-red">User Id does not exist</small>
        <button *ngIf="!userPassword" class="btn btn-primary mt-3" type="button" (click)="userIdValidation()" [disabled]="forgotPasswordForm.invalid">Set Password</button>
        <div *ngIf="userPassword">
            <label class="card-subtitle my-2 text-muted">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            <div class="mt-3">
                <button class="btn btn-primary" type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
            </div>
        </div>
    </form>
</div>